
<div class="row">
    <h4 style="text-align: center;color:#365ca099;font-weight: 700;">Add New Product</h4>
     <div class="col-md-3">
        <div class="mb-3">
            <button type="submit" class="btn btn-success bt-sm" (click)="goBack()"> <i class="fa fa-arrow-left" aria-hidden="true" ></i>Back To Product</button>
        </div>
       </div>
     <div class="col-md-6">
<form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" id="name" formControlName="description" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <input type="text" id="name" formControlName="price" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="stock">Stock</label>
        <input type="text" id="name" formControlName="stock" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="category">Category</label>
        <select class="form-select" formControlName="categoryid" class="form-control" (change)="onSelectChange($event)">
            <option *ngFor="let data of categoryList" [value]='data.id' >{{data.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="category">Product Status</label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" formControlName="status" id="flexSwitchCheckDefault">
      </div>
    </div>

    <div class="mb-3">
        <label for="UploadimgControlInput" class="form-label">Upload File/Image</label>
        <input type="file" class="form-control" id="UploadimgControlInput" formControlName="imageurl" name="image" (change)="uploadImage($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" placeholder="Upload Image">
        <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors.required">
            Image is required
          </div>
        </div>
      </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success bt-sm" [disabled]="!productForm.valid">Create Product</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
</div>