<form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" id="name" formControlName="description" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <input type="text" id="name" formControlName="price" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="stock">Stock</label>
        <input type="text" id="name" formControlName="stock" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="category">Category</label>
        <!-- <input type="text" id="name" formControlName="category" class="form-control" /> -->
        <select class="form-select" formControlName="categoryId" class="form-control">
            <!-- <option value="">All Categories</option> -->
            <option *ngFor="let data of categoryList" [value]='data.id'>{{data.name}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="UploadimgControlInput" class="form-label">Upload File/Image</label>
        <input type="file" class="form-control" id="UploadimgControlInput" formControlName="imageUrl" name="image" (change)="uploadImage($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" placeholder="Upload Image">
        <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors.required">
            Image is required
          </div>
        </div>
      </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success bt-sm" [disabled]="!productForm.valid">Create Product</button>
    </div>
</form>