<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <input type="hidden" formControlName="id"/>
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" id="name" formControlName="description" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <input type="text" id="name" formControlName="price" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="stock">Stock</label>
        <input type="text" id="name" formControlName="stock" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="category">Category</label>
        <input type="text" id="name" formControlName="category" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success bt-sm" [disabled]="!productForm.valid">Save</button>
    </div>
</form>