<div class="container">
    <h3 style="text-align: center;color:#365ca099;font-weight: 700;">Edit Product</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <button type="submit" class="btn btn-success bt-sm" (click)="goBack()"> <i class="fa fa-arrow-left" aria-hidden="true" ></i>Back To Product</button>
            </div>
           </div>
        <div class="col-md-6">
        <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <input type="hidden" formControlName="id"/>
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="description">Description</label>
                <input type="text" id="name" formControlName="description" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="price">Price</label>
                <input type="text" id="name" formControlName="price" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="stock">Stock</label>
                <input type="text" id="name" formControlName="stock" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="category">Product Status</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="status" id="flexSwitchCheckDefault">
              </div>
            </div>
            <div class="mb-3">
                <label for="discount">Discount</label>
                <input type="text" id="discount" formControlName="discount" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="discount">rating</label>
                <input type="text" id="rating" formControlName="rating" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="seller">Seller</label>
                <input type="text" id="seller" formControlName="seller" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="category">Category</label>
                <select class="form-select" formControlName="categoryid" class="form-control" (change)="onSelectChange($event)">
                    <option *ngFor="let data of categoryList" [value]='data.id' >{{data.name}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="seller">Product Image</label>
                {{productForm.get('imageurl')?.value}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success bt-sm" [disabled]="!productForm.valid">Save</button>
            </div>
        </form>
    </div>
        <div class="col-md-3"></div>
    </div>

</div>
