<div class="container" style="zoom: 0.8 !important;">
    <h3 style="text-align: center;color:#365ca099;font-weight: 700;">Add Category</h3>
    <div class="mb-3">
        <a class="btn btn-success btn-stm" (click)="addCategory()">Add Category</a>
    </div>
    
    <form [formGroup]="categoryForm" (ngSubmit)="createCategory()" *ngIf="showAddCat">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" id="name" formControlName="description" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success bt-sm">Create Category</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
    @if(categoryResult?.length == 0){
        <h6 style="color: red;text-align: center;">No Record Found</h6>
    }
    <table class="table table-striped" *ngIf="categoryResult?.length > 0">
        <thead>
            <tr>
                <th scope="col">SNO</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>           
        <tbody>
            @for (country of categoryResult; track country.id; let i = $index) {
            <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <div *ngIf="!country.isEditing">
                        {{ country.name }}
                    </div>

                    <div *ngIf="country.isEditing">
                        <input type="text" id="name" [(ngModel)]="country.name" class="form-control" />
                    </div>

                </td>
                <td>
                    <div *ngIf="!country.isEditing">
                        {{ country.description }}
                    </div>

                    <div *ngIf="country.isEditing">
                        <input type="text" id="name" [(ngModel)]="country.description" class="form-control" />
                    </div>

                </td>
                <td>
                    <i *ngIf="country.isEditing" class="fa fa-save" style="font-size:15px"
                        (click)="saveCategory(country)"></i>
                    <i *ngIf="!country.isEditing" class="fa fa-edit" style="font-size:15px;"
                        (click)="updateCategory(country)"></i>
                    <i *ngIf="!country.isEditing" class="fa fa-trash" style="font-size:15px;margin-left: 10px !important;"
                        (click)="deleteProduct(country.id)"></i>
                    <!-- <button (click)="deleteProduct(country.id)" class="btn btn-danger btn-sm">Delete</button> -->
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>


<app-loader [isLoading]="loading"></app-loader>