
<div class="container">
    <div class="row">
      <h2>Change Password</h2>
      <div class="col-md-4">
     <form [formGroup]="forgotForm">
      <div class="mb-3">
        <label for="inputPassword5" class="form-label">New Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="newPassword">

        <!-- <div id="passwordHelpBlock" class="form-text">
          Your password must be a minimum of 1 numeric character [0-9] and. a minimum of 1 special character.
        </div> -->
        <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty">
            <div class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">At least one uppercase
                                    letter.</div>
            <div class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">At least one lowercase
                                    letter.</div>
            <div class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">At least one
                                    digit.</div>
            <div class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">At least one
                                    special
                                    character.</div>
            <div class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">At least 8 characters
                                    long.</div>
         </div>
        <div class="buttonClass" style="margin-top: 10px;text-align: center;">
          <button  type="submit"class="btn btn-success btn-sm" align-center (click)="changePasswordReq()"> Change New Password</button>
        </div>
    
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <img src="../../../assets/images/7.png" style="width: 600px;height:400px;">
  </div>
  
  </div>
    </div>