.navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
  }
  .nav-item{
    margin-right: 60px;
  }

  ::ng-deep  .navbar { background-color: #204a96e6 !important;}

  .nav-link {
    color:white
  }

  .buttonClass {
    margin-top: 10px;
    text-align: center;
}