<div class="container" style="zoom:0.8 !important">   
<div class="row">
<div class="row col-md-3 column-content" >
    <nav class=" col-lg-12 sidebar">
        <h2>Categories</h2>
        <ul class="category-list cusor" >
            <li class="active" [class.active]="activeCategoryId === null"  (click)="getproductByCategory('')"><a class="dropdown-item">All category</a></li>
            <li *ngFor="let data of categoryList" (click)="getproductByCategory(data.id)" [class.active]="isActive(data.id)"><a class="dropdown-item"  >  {{data.name}}</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-9 column-content">
    <div class="col-md-12">
        <div class="input-group">
            <input type="search" class="form-control rounded"  [(ngModel)]="searchText" placeholder="Search Items" aria-label="Search" aria-describedby="search-addon" />
          </div>
    </div>
    <div class="row" *ngIf="this.productResponse?.result.length == 0">
        No Record Found
    </div>

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="row p-2 bg-white border rounded" *ngFor="let product of products | filter: searchText">
                    <div class="col-md-3 mt-1">
                        <img [src]="product.imageurl" alt="Uploaded Image" class="img-fluid img-responsive rounded product-image">
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5>{{product.name}}</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings">
                                <i *ngFor="let star of stars; let i = index" [ngClass]="getStarClass(i)"></i>
                        </div>
                        </div>
                        <p class="text-justify para mb-0">{{product.description}}<br><br></p>
                        <div>
                            Seller : <span>{{product.seller}}</span>
                        </div>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h6 class="mr-1">{{product.price |  currency:'INR'}}</h6><span class="badge">{{product.discount}}% off</span>
                            <!-- class="strike-text" -->
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4">
                            <!-- <button class="btn btn-primary btn-sm" type="button">Details</button> -->
                            <div class="mb-3" style="text-align: center;">
                                <button class="btn  btn-sm" (click)="decreaseQuantity(product)"><i
                                    class="bi bi-dash"></i></button>
                                <span style="padding-left: 5px;padding-right: 5px;">{{product.quantity}}</span>
                                        <button class="btn btn-sm" (click)="increaseQuantity(product)"><i
                                            class="bi bi-plus"></i></button>
                            </div>
                            <button class="btn btn-outline-primary btn-sm mt-2" type="button" style="font-size:12px" (click)="addToCart(product)">Add to Cart</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Paginator -->
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>

<app-loader [isLoading]="loading"></app-loader>