
<table class="table table-bordered table-responsive" *ngIf="orders.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Products</th>
            <th>TotalPrice</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.userId }}</td>
            <td>
                <ul>
                    <li *ngFor="let orderProduct of order.products">
                        {{ orderProduct.productDetails?.name }} (Quantity: {{ orderProduct.quantity }})
                    </li>
                </ul>
            </td>
            <td>{{ order.totalPrice | currency:'INR' }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.status }}</td>
            <td> <button class="btn btn-danger btn-sm" (click)="removeOrder(order.id)">Remove From the history</button></td>
          
        </tr>
    </tbody>
</table>
