<div *ngIf="currentUser?.is_admin" style="zoom: 0.9 !important;">
  <h3 style="text-align: center;color:#365ca099;font-weight: 700;">Order History</h3>
  <div class="col-md-6">
    <div class="input-group" style="margin: 10px;">
        <input type="search" class="form-control rounded"  [(ngModel)]="searchText" placeholder="Search Order" aria-label="Search" aria-describedby="search-addon" />
      </div>
</div>
<div style="margin: 10px;">
  <!-- <table class="table table-bordered table-responsive  table table-striped" *ngIf="orderAdmin?.length > 0">
    <thead>
        <tr>
            <th>SNO</th>
            <th>User Id</th>
            <th>Payment Id</th>
            <th>Order Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Date</th> 
            <th>Quantity</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Track Status</th>
            <th>Total Amount</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderAdmin | filter: searchText;let i=index">
            <td>{{i+1}}</td>
            <td *ngIf="currentUser?.is_admin">{{order.order_user_id}}</td>
            <td>{{ order.payment_id}}</td>
            <td>{{ order.order_id}}</td>
            <td>{{ order.product_name}}</td>
            <td>{{ order.product_price}}</td>
            <td>{{ order.payment_created_on }}</td>
            <td>{{ order.order_quantity }}</td>
            <td>{{ order.payment_method}}</td>
            <td>{{ order.payment_status}}</td>
            <td><span *ngIf="order.trackStatus == false">{{order.trackrec}} </span>
              <span *ngIf="order.trackStatus == true"><input type="text" id="name" formControlName="name" class="form-control" /></span></td>
            <td>{{order.product_price * order.order_quantity | currency:'INR' }} </td>
            <td>
              <i class="fa fa-edit" style="font-size:15px" (click)="editTrack(order.order_id)" *ngIf="order.trackStatus == false" ></i>
              <i *ngIf="order.trackStatus == true" class="fa fa-save" style="font-size:15px"></i>
          </td>
        </tr>
    </tbody>
</table> -->
<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
  <!-- Column Definitions -->
  <ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SNO</th>
    <td mat-cell *matCellDef="let order; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
    <td mat-cell *matCellDef="let order">{{ order.order_user_id }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Id</th>
    <td mat-cell *matCellDef="let order">{{ order.payment_id }}</td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
    <td mat-cell *matCellDef="let order">{{ order.order_id }}</td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
    <td mat-cell *matCellDef="let order">{{ order.product_name }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let order">{{ order.product_price }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let order">{{ order.payment_created_on }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
    <td mat-cell *matCellDef="let order">{{ order.order_quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentMethod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Method</th>
    <td mat-cell *matCellDef="let order">{{ order.payment_method }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
    <td mat-cell *matCellDef="let order">{{ order.payment_status }}</td>
  </ng-container>

  <ng-container matColumnDef="trackStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Track Status</th>
    <td mat-cell *matCellDef="let order">
      <span *ngIf="!order.trackStatus">{{ order.trackrec }}</span>
      <span *ngIf="order.trackStatus">
        <input type="text" id="name" class="form-control" />
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
    <td mat-cell *matCellDef="let order">{{ order.product_price * order.order_quantity | currency:'INR' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let order">
        <mat-icon (click)="editTrack(order.order_id)" *ngIf="!order.trackStatus">edit</mat-icon>
        <mat-icon *ngIf="order.trackStatus == true" (click)="save(order.order_id)">save</mat-icon>
        <mat-icon *ngIf="order.trackStatus == true" (click)="close(order.order_id)">close</mat-icon>
    </td>
  </ng-container>

  <!-- Header and Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>

<mat-paginator [pageSize]="10"></mat-paginator>


</div>

</div>

<div *ngIf="!currentUser?.is_admin" style="zoom: 0.8 !important;">
  <mat-card>
    <mat-card-title><h4>Order & Payment Details</h4></mat-card-title>
    <mat-card-content>
      <div *ngFor="let orderId of getOrderIds()">
        <h6>Payment Id: {{orderId}}  <i class="fa fa-download" aria-hidden="true" (click)="downloadPdf(orderId)" ></i></h6>
       
        <table mat-table [dataSource]="groupedOrders[orderId]" class="mat-elevation-z8">
          <!-- Columns Definition -->
          <ng-container matColumnDef="SNO" >
            <th mat-header-cell *matHeaderCellDef>SNO</th>
            <td mat-cell *matCellDef="let element ; let i =index">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="Order Id">
            <th mat-header-cell *matHeaderCellDef> Order Id </th>
            <td mat-cell *matCellDef="let element"> {{element.order_id}}</td>
          </ng-container>
  
          <ng-container matColumnDef="Product Name">
            <th mat-header-cell *matHeaderCellDef> Product Name</th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element"> {{element.product_price}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.payment_created_on}} </td>
          </ng-container>

          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element"> {{element.order_quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="Payment Method">
            <th mat-header-cell *matHeaderCellDef>Payment Method</th>
            <td mat-cell *matCellDef="let element"> {{element.payment_method}} </td>
          </ng-container>

          <ng-container matColumnDef="Payment Status">
            <th mat-header-cell *matHeaderCellDef>Payment Status</th>
            <td mat-cell *matCellDef="let element"> {{element.payment_status}} </td>
          </ng-container>

          <ng-container matColumnDef="DeliveryStatus">
            <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
            <td mat-cell *matCellDef="let element"> {{element.trackrec}} </td>
          </ng-container>

          <ng-container matColumnDef="Total Amount">
            <th mat-header-cell *matHeaderCellDef>Total Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.totalamount | currency:'INR' }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  

</div>

<div class="container"  #pdfContent  class="main-container hidden " style="zoom:0.8 !important;font-size: 15px;border:1px solid black;color: #365ca0;
    font-weight: 600;">
    <div style="text-align: center;" >
        <img class="img-responsive" src="assets/images/shoppingApp.png" style="width:60px;height:60px">  <h3>You & Me Shop</h3>
    </div>
    <div class="row" >
      
        <div class="well col-xs-10 col-sm-10 col-md-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" style="margin-left: 20px;">
                    <address>
                        <strong>{{personalInfo?.user_name}}</strong>
                        <br>
                        {{personalInfo?.address1}}  {{personalInfo?.address2}}
                        <br>
                        {{personalInfo?.district}}
                        <br>
                        {{personalInfo?.state}}
                        <br>
                        {{personalInfo?.pincode}}
                        <br>
                        <!-- {{personalInfo?.phone_number}} -->
                        <!-- <br> -->
                        <abbr title="Phone"></abbr> (+91)  {{personalInfo?.phone_number}}
                    </address>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-right"  style="margin-left: 20px;">
                    <p>
                        <em>Date : {{createdDate}}</em>
                    </p>
                    <p>
                        <em>Payment Id: {{order_id}}</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
            
                <table class="table table-hover "  style="margin-left: 20px;width:90%">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orderDownloadReport of orderDownloadReport">
                            <td class="col-md-9"><em>{{orderDownloadReport?.product_name}}</em></td>
                            <td class="col-md-1" style="text-align: center">{{orderDownloadReport?.order_quantity}} </td>
                            <td class="col-md-1 text-center">{{orderDownloadReport?.product_price}}</td>
                            <td class="col-md-1 text-center">{{orderDownloadReport?.totalamount}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            <p>
                                <strong>Tax:</strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>{{totalAmount |  currency:'INR' }}</strong>
                            </p>
                            <p>
                                <strong>Nil</strong>
                            </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>{{totalAmount |  currency:'INR' }}</strong></h4></td>
                        </tr>
                        <h4 style="text-align: center;">Thanks For Shopping #Visit again</h4>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

