<app-loader [isLoading]="loading"></app-loader>
<div class="container" *ngIf="getCurrentUser.is_admin">
    <h3 style="text-align: center;color:#365ca099;font-weight: 700;">Sale Report</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown" >
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{yearClickedData}}
                </button>
                <ul class="dropdown-menu" >
                  <li><a class="dropdown-item"  *ngFor="let data of pastTenYears" (click)="yearClicked(data)">  {{data}}</a></li>
                </ul>
                
              </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown" >
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{monthName}}
                </button>
                <ul class="dropdown-menu" >
                  <li><a class="dropdown-item"   *ngFor="let month of months" (click)="monthClicked(month.number)">{{month.name}}</a></li>
                </ul>
              </div>
        </div>
        <div class="col-md-8"></div>
    </div>
    <div class="row">
    </div>
    <div class="chart-container" style="height: 400px !important;width: 1000px !important;">
        <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>
    <h3 style="text-align: center;color:#365ca099;font-weight: 700;">Category Report</h3>
    <div class="chart-container" >
        <canvas  id="MyChart1" width="100" height="100">{{ chart1 }}</canvas>
  </div>
</div>

<div class="container" *ngIf="!getCurrentUser.is_admin" style="zoom:0.8 !important">
    <div class="slider-container">
        <div class="slider">
          <div class="slide">
            <img [src]="images[currentIndex].src" [alt]="images[currentIndex].alt">
            <div class="overlay-text">
              <h3>{{ images[currentIndex].title }}</h3>
              <p>{{ images[currentIndex].description }}</p>
              <a href="#" class="cta-button" (click)="show()" routerLink="/browse-products">Shop Now</a>
              <div *ngIf="showLoginMessage"><br>
                  Please <a routerLink="/auth/login">login</a> to place an order.
              </div>
            </div>
          </div>
        </div>
        <!-- <button mat-button (click)="prevSlide()">Previous</button>
        <button mat-button (click)="nextSlide()">Next</button> -->
      </div>

    <div style="margin-top:300px;">
        <h3 style="text-align: center;text-align: center;
        color: #365ca0;
        font-weight: 700;font-family: monospace;">TOP SELLERS</h3>
    </div>

    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <!-- Cart Item Card -->
            <div class="col-md-4">
                <div class="card card-custom">
                    <img src="..//../assets/images/cosmetic_new.jpeg" class="card-img-top card-img" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Cosmetic</h5>
                        <p class="card-text">Cosmetic is defined as a product that is applied to the human body for cleansing, beautifying, promoting attractiveness, or altering the appearance without affecting the body structure or functions.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <p><span class="badge">Offer upto 10%</span></p>
                        <button mat-button  (click)="show()">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <img src="..//../assets/images/kidsImage.jpeg" class="card-img-top card-img" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Kids</h5>
                        <p class="card-text">Baby lotions, oils, powders and creams are products intended to moisturize and soften the skin of infants and children under the age of three. These products are specially formulated to be mild and non-irritating for the baby's skin.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <p><span class="badge">Offer upto 5%</span></p>
                        <button mat-button  (click)="show()">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <img src="..//../assets/images/electronics.jpeg" class="card-img-top card-img" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Electronics</h5>
                        <p class="card-text">Electronic Product means a manufactured item or device, or part of such a product, that has an electronic circuit.During operation,this circuit can generate or emit a physical field of radiation.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <p><span class="badge">Offer upto 10%</span></p>
                        <button mat-button  (click)="show()">View Details</button>
                    </div>
                </div>
            </div>
        </div>
      </div>


<div>
    <h3 style="text-align: center;text-align: center;color: #365ca0;font-weight: 700;font-family: monospace;">New Arrivals</h3>
</div>
     

          <div class="card-container">
            <div *ngFor="let item of newProducts" class="card-item">
              <mat-card class="ribbon-card">
                <div class="ribbon">NEW</div>
                <img mat-card-image class="image_size" [src]="item.imageUrl" alt="{{ item.title }}" />
                <mat-card-header>
                  <mat-card-title>{{ item.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ item.price | currency: 'INR' }}
                </mat-card-content>
                <mat-card-footer>
                    <div (click)="show()" style="color: blue;text-decoration: underline;margin-left:15px;">See More</div>
                </mat-card-footer>
              </mat-card>

            </div>
          </div>
          
</div>
